<div id="menu-nav">
    <div id="navigation-bar">
        <ul>
            <li><a href="{% url 'categorie' 'Food, Restaurant' %}"><i class="fa fa-utensils"></i><span>Foods</span></a>
            </li>
            <li><a href="{% url 'categorie' 'Hotel' %}"><i class="fa fa-bed"></i><span>Hotels</span></a></li>
            <li><a href="{% url 'categorie' 'Beauty' %}"><i class="fa fa-spa"></i><span>Beauty</span></a></li>
            <li><a href="{% url 'categorie' 'Shopping' %}"><i class="fa fa-shopping-bag"></i><span>Shopping</span></a>
            </li>
            <li><a href="{% url 'categorie' 'Activity' %}"><i class="fa fa-tree"></i><span>Activities</span></a></li>
            <li><a href="{% url 'categorie' 'Health' %}"><i class="fa fa-briefcase-medical"></i><span>Health</span></a>
            </li>
            <li><a href="{% url 'categorie' 'Automotive' %}"><i class="fa fa-car"></i><span>Autos</span></a></li>
            <li><a href="{% url 'categorie' 'Bank' %}"><i class="fa fa-university"></i><span>Banks</span></a></li>
            <li><a href="{% url 'categorie' 'Animals' %}"><i class="fa fa-paw"></i><span>Animals</span></a></li>
            <li><a href="{% url 'categorie' 'Education' %}"><i
                    class="fa fa-graduation-cap"></i><span>Education</span></a></li>
            <li><a href="{% url 'categorie' 'Services' %}"><i class="fa fa-people-arrows"></i><span>Services</span></a>
            </li>
            <li><a href="{% url 'categorie' 'Others' %}"><i class="fas fa-ellipsis-h"></i><span>Others</span></a></li>
        </ul>
    </div>
</div>